@import "~react-image-gallery/styles/css/image-gallery.css";

.gallery-main-container{
    padding-top: 100px;
}

.galleryimage{
    width: 100%;
    height: auto;
    background-size: cover;
    object-fit: contain;
}

.gallery-card{
    margin: 20px 20px;
}