body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden !important;
}


 /* Custom Scrollbar */
 ::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #0B2E59;
 
  height: 70px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2C73C0;
}



*,
*:after,
*::before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:active,
:hover,
:focus {
  outline: 0 !important;
  outline-offset: 0;
}

a {
  text-decoration: none;
  color: unset;
}

a:hover,
a:focus,
a:active {
  color: unset;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
ul,
ol,
.row > * {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

html {
  /* font-size: 62.5%; */
  scroll-behavior: unset !important;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

/* p {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 1.6rem; 
  line-height: 26px;
  color: #505050;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


